html {
    background: #ffffff;
    color: #333333;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    height: 100%;
    text-rendering: optimizelegibility;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}
